.fa-1-5x {
    font-size: 1.5rem !important;
}

.fa-2x {
    font-size: 2rem !important;
}

.fa-2-5x {
    font-size: 2.5rem !important;
}

.status-btn {
    text-decoration: none;
    margin-left: 6px;
}
